*{
	box-sizing: border-box;
}


h1 {
	font-family: : Times new romans;
    text-decoration: underline;
    margin-bottom:50px;
}
p{
	margin:5px;
	clear: right;
	margin: 5px;
	font-size:125%;
	background-color: #20b2aa	;

}
button{
	float:right;
	padding-top: 15px;
}
#navhead{
	background-color: #f0e68c;
}

#mine{
	padding:15px 15px;
	margin-top: 17px;
}
#nav-list{
	background-color:#adff2f	; 
	text-align: center;
	color:black;
	font-size:200%;
}
